@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #07080C; /* Тема по умолчанию */
  color: #ffffff;
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
}

/* Кастомный скроллбар под темную тему */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #07080C;
}

::-webkit-scrollbar-thumb {
  background: #1C1E2A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF5C00;
}